.env
.env.*
!.env.example
node_modules
dist
__pycache__
*.pyc
node_modules
node_modules
node_modules
node_modules/
venv/
.env
*.db
*.log
err.txt
err2.txt
error_msg.txt

venv/
node_modules/
*.db
*.log

